
@import "tailwindcss";

:root {
  /* Backgrounds */
  --background: #ffffffa7;
  --card: #F8FAFC;

  --bg: #1A1A1A;

  /* Text */
  --text-primary: #111827;
  --text-secondary: #6B7280;

  /* Accent */
  --primary: #2563EB;

  /* Status */
  --success: #16A34A;
  --warning: #F59E0B;
  --danger: #DC2626;
}




body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg);
}

