
@import "tailwindcss";

:root {
  /* Backgrounds */
  --background: #ffffffa7;
  --card: #f8fafc;

  --bg: #1a1a1a;

  --bg2: #f5f5f5;
  /* Text */
  --text-primary: #111827;
  --text-secondary: #6b7280;

  /* Accent */
  --primary: #2563eb;

  /* Status */
  --success: #16a34a;
  --warning: #f59e0b;
  --danger: #dc2626;
}

body {
  background: var(--bg);
}

.topbar{
  background: var(--bg2);
}

/* #desktop {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
